In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
from pprint import pprint

from api_keys import g_key

In [23]:
output_data_file = "/Users/jordanheise/Desktop/homework-repos/python-api-challenge/city_weather.csv"

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df.head()

,City,Lat,Lng,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country
0,Port Hawkesbury,45.62,-61.35,46.99,75,1,4.70,CA
1,Bathsheba,13.22,-59.52,84.20,70,20,26.40,BB
2,Ponta do Sol,32.67,-17.10,66.20,63,40,5.82,PT
3,Berlevåg,70.86,29.09,39.20,86,75,31.09,NO
4,Östersund,63.18,14.64,32.00,95,20,11.41,SE

In [24]:
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.

gmaps.configure(api_key=g_key)

In [25]:
lat_lon = weather_data_df[['Lat', 'Lng']] 

humid = weather_data_df['Humidity (%)']

In [26]:
#create satellite map

fig = gmaps.figure()

#add heat layer to map

heatmap = gmaps.heatmap_layer(lat_lon, weights=humid, dissipating=False, max_intensity=10, point_radius=1)

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

weather_ideal_df = pd.DataFrame(weather_data_df, columns = ["City", "Temperature (F)", "Wind Speed (mph)", "Cloudiness (%)"])

temperature = (weather_ideal_df["Temperature (F)"] <= 80) & (weather_ideal_df["Temperature (F)"] > 70)
wind_speed = weather_ideal_df["Wind Speed (mph)"] < 10
cloudiness = weather_ideal_df["Cloudiness (%)"] == 0

weather_ideal_df[temperature & wind_speed & cloudiness]

           City  Temperature (F)  Wind Speed (mph)  Cloudiness (%)
65      Salalah            75.20              2.24               0
86        Mīnāb            73.40              4.70               0
147    Ghorāwal            70.50              2.91               0
214        Bela            72.46              1.57               0
215   Abu Dhabi            78.80              4.70               0
245  Kiryat Gat            73.40              5.82               0
253      Sānchi            71.44              3.20               0
510       Erzin            75.99              8.01               0
541       Uthal            74.26              3.38               0

In [32]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap

hotel_df = pd.DataFrame(weather_data_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""

In [33]:
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [34]:
hotel_name

['Maritime Inn Port Hawkesbury',
 'Atlantis Hotel',
 'Morning Star Villa Madeira',
 'Berlevåg camping & Appartement AS',
 'Leopold Bed & Breakfast',
 'Lakeview Hotel Motel',
 'Lorengau Harbourside Hotel',
 nan,
 'Hotel Buganville Express',
 nan,
 'Oryx Guesthouse Oranjemund',
 "Pension Maro'i",
 'Hotel Cabo de Hornos',
 'Les Embruns Du Baril',
 'Hotel Ushuaia',
 'Southland Organic Farmstay',
 'Lighthouse Lodge & Cottages',
 nan,
 'Royal St Andrews Hotel',
 'Nemuro Grand Hotel',
 nan,
 'HOTEL HAVELI',
 'Eysturland Lodge',
 'Misty Waves Boutique Hotel',
 'Hotel Plaza Lebu',
 'Commodore on the Park',
 nan,
 'Atlanticview Cape Town Boutique Hotel',
 'Esperance Chalet Village',
 nan,
 'Qaanaaq Hotel',
 'Edgewater Inn Restaurant & Marina',
 'Green House',
 'Hotel Concha do Mar',
 'Hewing Hotel',
 'Butiama Beach Hotel',
 'Ulvesund FYR',
 'Island Way Villa',
 'Hotel Vila Gale Touros',
 nan,
 'Pemberton Valley Lodge',
 'Tynwald Willow Bend Estate',
 'De Hoop Collection',
 'Protea Hotel by Marriott Saldanha Bay',
 "Land's End Boutique Hotel",
 'Hampton Inn Danbury',
 nan,
 nan,
 'Hotel Young',
 'Hotel Eco',
 nan,
 'Last Light Lodge',
 'Pangnirtung Fjordview Bed and Breakfast',
 nan,
 nan,
 'Southern Beach Hotel & Resort Okinawa',
 'The Sebel Busselton',
 'The Henry Jones Art Hotel',
 'Lou Moon Resort - Eco Luxury',
 'Chautauqua Harbor Hotel',
 'Lakatoro Palm Lodge',
 nan,
 'Fosshotel Húsavík',
 'Lombok Astoria - Hotel',
 'Embassy Beach',
 'BAITI Hotel Apartments',
 'White Bridges',
 'Hotel Sirenuse',
 'Comfort Hotel Florø',
 "Hunter's B&B",
 'Pebbles Inn',
 'HOTEL - Restauracja Modrzewiowa',
 nan,
 'Steppe hotel',
 'Hotel Ocean View & Restaurante Seafood',
 'Chukotka hotel',
 'Plum Garden International Hotel',
 nan,
 'EAGLESVIEW GUEST LODGE/HOTEL',
 'Heritage Hotel',
 'Hotel Progreso Beach',
 'Woodlands Inn & Suites',
 'Wyndham Grand Plaza Royale Kaidi',
 'Hotel Ivaana',
 'Yeppoon Beach House',
 'Plas Dinas Country House',
 'Minab Tourism Hotel',
 'Best Western Hotel Plaza Real',
 'Grand Resort And Spa,Gambella',
 'Lakeview Lodge',
 'Hotel Barun Sankhuwasabha',
 'The Explorer Hotel',
 'Arsela Hotel Pangkalan Bun',
 nan,
 'Castillo Hotel Son Vida, a Luxury Collection Hotel, Mallorca',
 nan,
 'Quinta Das Buganvílias',
 'Eastern & Oriental Hotel, Penang',
 'InterContinental Bora Bora Resort Thalasso Spa',
 nan,
 "Otel' Gostinnyy Dvor",
 'The Gascoyne Hotel',
 nan,
 'Hotel Senac Ilha do Boi',
 nan,
 'Great Bear Lodge',
 'Cucuve',
 nan,
 'EPIC SANA Luanda',
 nan,
 'Villarrica Palace Hotel',
 'Arktika',
 'Turis Firper Hotel',
 'Profilaktoriy Baes',
 'Traditional Hotel Restaurant Haji Malek',
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 'Hotel Posada Navideña',
 '"Avantage" hotel',
 'Hotel Oasis Atlantico Praiamar',
 'Holiday Inn Mauritius Mon Tresor',
 'NYLO Providence Warwick Hotel, Tapestry Collection by Hilton',
 nan,
 'Floresta Amazonica Hotel',
 'VERA Estenas',
 'The Grand Tasman Hotel',
 'POUSADA SOBRE AS ÁGUAS',
 'Hotel Polo Orchid',
 'Hotel Du Havre',
 'Chita Lodge Samfya',
 'Stadium Hotel',
 nan,
 'Luxury House ECO-hotel & Spa',
 'Best Western Thompson Hotel & Suites',
 'Hotel Arctic',
 nan,
 'Ocean Centre Hotel',
 nan,
 'Original Sokos Hotel Vaakuna Mikkeli',
 'The ISO',
 'Hawthorn Suites | Nebula',
 nan,
 'Taloa Heights',
 nan,
 'Hotel Familiar',
 'Hotel Viñas del Sol',
 'Hôtel Hiva Oa Hanakee Lodge',
 'Beringgorski',
 'सिरसाई',
 'The Rarotongan Beach Resort & Lagoonarium',
 'Hotel Casa de Campo Pedasí',
 'The Halfway Inn',
 'Hotel Hacienda de Abajo',
 nan,
 'Royal Plaza Hotel 帝京酒店',
 'Infotur Namibe',
 'Arribas Sintra Hotel',
 nan,
 'Jalu Hotel',
 'Namatanai Hotel',
 'Rocking Horse Inn',
 'Quarumanu area',
 'فندق تكريت بلازا',
 'Residencial Solar da Estação',
 'Hotel Premium Pirassununga',
 'Vitória Hotel',
 'Bed & Breakfast Sweet Dreams',
 'Best Western Kodiak Inn and Convention Center',
 'The Duniway Portland, A Hilton Hotel',
 'Odar kanawal',
 'Hotel Moderne',
 nan,
 'Hotel Eldorado',
 'Sandaun Surf Hotel',
 'Best Western Plus Humboldt Bay Inn',
 nan,
 'SkylineInn Hotel',
 nan,
 nan,
 'The Kimberley Grande Resort',
 'Relais de Kédougou',
 'Park Hyatt Mendoza',
 'Tiki Surf House',
 'Aparthotel Mil Cidades',
 nan,
 'Lagoon Attitude Hotel',
 'Rede Beach: Hotel em Guajiru',
 'Við Hafið Guesthouse',
 'Paradise First Hotel',
 'Inn on The Cliff St. George',
 nan,
 'Jatiúca Hotel & Resort',
 'La Cabaña Guainiana',
 nan,
 'HOTEL LE HIR',
 nan,
 'GRAN HOTEL SAN LUIS GOLD',
 nan,
 'Amarula Lodge and Restaurant',
 'Top of the World Hotel',
 nan,
 'Amarna Luxury Beach Resort - Guest Only',
 'Westmark Sitka',
 'Codrington Gardens Bed And Breakfast',
 'The Esplanade Resort & Spa',
 nan,
 'Dajiale Hotel',
 nan,
 'Anh Nguyet Hotel',
 'Grand Hotel Libertad - GHL',
 'Cree Village Eco Lodge',
 'The Sebel Kiama Harbourside',
 nan,
 nan,
 nan,
 'Hotel Sneh',
 'Royal M Hotel & Resort Abu Dhabi',
 nan,
 'Sioux Lookout Inn & Suites',
 nan,
 nan,
 'Le Relais de Singani hôtel',
 'Hotel Angmagssalik',
 'ENOTEL BEACH',
 'Café de Upernavik',
 'La Hacienda Hotel',
 "Hotel D'Calia",
 nan,
 'Síndic Hotel',
 'Hollins',
 nan,
 'Hilton Garden Inn Qidong',
 'Free Zone Hotel Nouadhibou',
 'Aloft Omaha West',
 'Veneza Plaza Hotel',
 'Hotel Hacienda del Río',
 'Gasthof Hotel Sonne Silandro',
 'Four Seasons Yony Hotel',
 'Hotel Vestmannaeyjar',
 'Ali Bux Soomro Gate Near Al Masoomi Hotel',
 '別邸 海と森',
 'Hotel Maniitsoq',
 'Katsuura Hotel Mikazuki',
 'Sundog Inn',
 nan,
 'Sunshine Hotel',
 'Desert Gat',
 'Hotel Ravas',
 'Hotel Terrazas Del Mar - Huacho',
 'Best Western Porterville Inn',
 'Château Arnaud',
 'هتل پرويز',
 'Americas Best Value Inn Sinton',
 'AmericInn by Wyndham Belle Fourche',
 'Gateway Retreat',
 'Austral Hotel',
 nan,
 'Shangrila Village Resort Pokhara',
 nan,
 'Panamericana Hotel Ancud',
 nan,
 '夜がらす山荘 長多喜',
 'Samawe Putumayo',
 'DoubleTree by Hilton Hotel Midland Plaza',
 'Air Manis Hill Residence',
 'Hotel Líder',
 'Lesnoy contry house',
 nan,
 'Oasis hôtel',
 'Casa Nemo Beach Resort & Spa',
 'OURE TERA beach resort',
 'Zhonglin International Hotel',
 'Botany Bay Hotel',
 'Boutique Hotel Armada',
 'ささやかなおうち 崎田/串間',
 nan,
 'Hotel Kap Farvel',
 'Hotel Apart Aires de la Pampa',
 'Arum House',
 nan,
 'Juddi Hotel',
 nan,
 'DoubleTree by Hilton Hotel Alice Springs',
 'Hotel "Geologist"',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tunka-350',
 'Oaks Mackay Rivermarque Hotel',
 "Munitsipal'naya Gostinitsa",
 'Mercure Liverpool Atlantic Tower Hotel',
 nan,
 'Coaldale Inn',
 'Embassy Suites by Hilton Lompoc Central Coast',
 'Hotel Buchanan Liberia',
 nan,
 'Mount Edgecombe Plantation',
 'Ballistic Islet',
 'Hotel Pinezhskaya Sloboda',
 'Nusa Island Retreat',
 'Coast Abbotsford Hotel & Suites',
 nan,
 'Hotel King Star',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Humaitá Quality Hotel',
 'LUX Grand Gaube Resort & Villas',
 'Samoma Lodge',
 'The Garden Hotel Korla',
 'Samuels Hotel',
 'Shangri-La Hotel Qingdao',
 'Beach House - Half Moon Bay',
 'White Elephant Nantucket',
 '7 Gables Inn & Suites',
 'Hampton Inn Oneonta',
 'Hotel Altos del Estero',
 'Hotel Alameda Express',
 'HOTEL R. SOARES',
 'Ungoofaaru Inn',
 nan,
 nan,
 'BON Hotel Waterfront Richards Bay',
 'Tayga, Gostinitsa',
 'Graciosa Resort - Biosphere Island Hotel',
 'Radisson Blu Hotel, Dakar Sea Plaza',
 '奄美ウィークリーハウス Nico nico 名瀬港店',
 'La cour du fleuve',
 'AIDIA Grande Hotel',
 'Calvinia Hotel by Country Hotels',
 "The Trainmaster's Inn",
 nan,
 'Hotel Shangrila- Top Hotels | Best Luxury Hotel | 4 Star Hotels In Ladakh',
 'Hotel Castelo',
 nan,
 'Hotel New Tokyo',
 'Hotel Punta León',
 'Logis Hôtel entre Beauce et Perche',
 'Harbour View',
 'Four Seasons Hotel Casablanca',
 'Plaza Hotel',
 nan,
 'Zemi Beach House, LXR Hotels & Resorts',
 nan,
 'Zhangjiakou Venice Hotel',
 'Waldorf Astoria Los Cabos Pedregal',
 'Hillside Hotel',
 'Allianto Boutique Hotel & Spa',
 'Hacienda la Quinta',
 'Russia',
 'Patagonia House',
 'Mariental Oasis Self-Catering accommodation',
 'Al Yusra Hotel',
 nan,
 'Best Western Blackfoot Inn',
 nan,
 'Best Western Plus Mirage Hotel & Resort',
 'Mercure Bengkulu',
 'Nikki’s Pension',
 'Loft Pals Urbanstay',
 'The Villas of Byron',
 'Villavela Hotel Boutique',
 'Bungalows de la Prairie',
 'Hotel Sadanand',
 'Bonifacio Lodge',
 'Nazuna 飫肥 城下町温泉 -小鹿倉邸-',
 'Hotel Playa de Cortes',
 'Orlanova Boutique Hotel',
 'Hotel Falter Hof',
 'هتل خنونه سرزه',
 'Commercial Hotel Broadford',
 'Hotel Pensua Punta Del Este',
 'Cantilever Hotel, Trademark Collection by Wyndham',
 'Hyatt Regency Orange County',
 'Hotel New Palace',
 'Hotel Saint Clair',
 'Villa Leonardo',
 'Alamdar Hotel',
 'Nuli Sapi',
 'The Park Hotel',
 nan,
 'Nam Long Plus',
 'Thula Lodge',
 'Hotel Arsenev',
 'Buudai Hotel',
 'Sophia Hotel',
 'Carlsbad Suites',
 'Amba Hotels Limited',
 'SpringHill Suites by Marriott Fairbanks',
 'Hotel khakhamiran',
 nan,
 'Hotel Victoria',
 'The Ritz-Carlton, Astana',
 'Glenwood Hot Springs Lodge',
 'The Hamsa Resort',
 'Baixada Beira Rio',
 'LÜDERITZ NEST HOTEL',
 'Coral Cove Apartments',
 'Hotel Chalana',
 nan,
 'HOTEL OCAMPO',
 'Terranea Resort',
 'Reve de Bisons',
 'Pousada do Cabeça',
 'Hotel Versalles',
 "Grands' Guesthouse",
 'Victoria Hut',
 'Imperial Mae Hong Son Hotel',
 nan,
 'Kak Doma',
 'Maui Beach Hotel',
 'The Adventures Inn-Peleliu',
 'Hotel Rio Araguaia',
 'Indigo Pass Hotel',
 'Wifstavarfs Herrgård',
 nan,
 nan,
 'Pazo de Verdes',
 'OYO 66194 Hotel Veggie Aman',
 'Comfort Inn Worland Hwy 16 To Yellowstone',
 'Hotel Porto Santo & Spa',
 'Hilton Port Moresby',
 'Hilton Garden Inn Sacramento Elk Grove',
 'CCI Express Inn',
 'Jade Green Hotel Hambantota',
 'Unique hotel',
 'Pestana Bahia Praia',
 'Hotel Pantanal',
 'HOTEL VIANA',
 nan,
 'Síndic Hotel',
 'Hôtel Georges Faustin Aurat',
 'Hotel Ayuana',
 'Pudong Holiday Hotel',
 'For you',
 nan,
 'Vitória Hotel',
 'Druzhba',
 'Kluane Green Sprout',
 'The Highland Mountain Resort & Spa',
 nan,
 'Hotel Vitality Terminus',
 'Beachfront Hotel Hokitika',
 'Holiday Inn Express & Suites Beeville',
 'Quay Perth',
 nan,
 'Castanheira Hotel',
 'Macdonald Houstoun House',
 '"Сод" Буудал',
 nan,
 'Kalina',
 'Nakamura',
 'Vinni Hostel Ltd.',
 'Hotel Deus Me Deu',
 'Fiordland Lodge Te Anau',
 'Jorany Hotel Resort Ikom',
 nan,
 'Feezone hotel',
 'THE SOMNATH GATEWAY',
 'Quality Inn & Suites',
 "Cj's Travellers Inn",
 'Hotel Ambulu Jember',
 'Mystic Sands',
 'Gizo Hotel',
 nan,
 'W Verbier',
 'Gostinitsa',
 'De Kloof Luxury Estate boutique Hotel & SPA',
 'Fuyang Wanda Realm Hotel',
 'Hotel San Cristóbal',
 nan,
 nan,
 'Royal Solwezi Hotel',
 'Mountain Ridge Cabins',
 nan,
 'Fulejiuzhou International Hotel',
 nan,
 'BRIM B&B',
 'HOTEL HACIENDA SAN JAVIER',
 nan,
 'Haritha Heritage Hotel',
 'Hotel das Irmãs.',
 'Dalby Homestead Motel',
 'Hotel National',
 'Hotel de Turistas',
 nan,
 nan,
 'Zhemchug',
 'Sanatorium "Siberia"',
 nan,
 'Mar Doce de Abrolhos',
 'yaad Hotal',
 'Sails Port Macquarie by Rydges',
 'Prata Hotel',
 nan,
 'Frobisher Inn',
 'Hotel Villa Victoria de Tigre',
 'فندق براند القصيم',
 'The Roman Park - Best Wedding Destination Hotel',
 'Kenton Palace Hotel',
 nan,
 'HOTEL CHEZ JIMMY',
 nan,
 'Paradise Bay Resort',
 nan,
 'Ghaseali Island Resort',
 'Best Western Country Inn',
 'Soften Hotel',
 'Kayah Land Hotel',
 'Mehamn Arctic Hotel AS',
 'Umthunzi Hotel & Conference',
 'Hattusa Vacation Thermal Club Erzin',
 nan,
 'Snug Harbor Inn Door County',
 'Campsite Orlan',
 'Crossroads Ecomotel',
 'Hotel La Villa Couacou',
 nan,
 'Hotel Sabana Hilton',
 'Laghetto Viverone Rio Grande',
 'Hilton Garden Inn West Monroe',
 'Eressian Hotel & Hammam Spa',
 nan,
 'City Residence Hotel Frankfurt Oder',
 'Ocean Pearl Bonefishing Resort',
 'Hotel casa blanca',
 "Nana's Lodge",
 'Jindu International Hotel',
 'Kuanysh',
 'Groote Eylandt Lodge',
 'Sheraton Changde Wuling Hotel',
 nan,
 'Talnakh Hotel',
 'Hotel NH Collection Cáceres Palacio de Oquendo',
 nan,
 'Green Scenery Hotel',
 'La Sammana',
 'River Palace Hotel',
 'Mir',
 nan,
 '塔河东湖别苑酒店',
 'Kaijing Ka Wan Hotel',
 'Al Madina Hotal',
 'Hotel Grand Papua Nabire',
 'Hotel Patagonia',
 'Hyatt Regency Houston',
 'Northern Greens Resort and Conference Centre',
 'Baltic Hotel Promenaadi Haapsalu',
 'Gostinitsa Uyut',
 'Hilton Garden Inn Santo André',
 'Mường Thanh Grand Tuyen Quang Hotel',
 'Resid Hotel',
 nan,
 nan,
 'Radisson Blu Hotel Ranchi']

In [35]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')
hotel_df.head()

              City Country    Lat    Lng                         Hotel Name
0  Port Hawkesbury      CA  45.62 -61.35       Maritime Inn Port Hawkesbury
1        Bathsheba      BB  13.22 -59.52                     Atlantis Hotel
2     Ponta do Sol      PT  32.67 -17.10         Morning Star Villa Madeira
3         Berlevåg      NO  70.86  29.09  Berlevåg camping & Appartement AS
4        Östersund      SE  63.18  14.64            Leopold Bed & Breakfast

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))